<!DOCTYPE html>
<html>
<head>
  <title>Agregar Canción</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Agregar Canción</h1>
  <form method="POST" action="/add">
    <div>
      <label for="title">Título de la canción:</label>
      <input type="text" name="title" id="title" required>
    </div>
    <div>
      <label for="artist">Artista:</label>
      <input type="text" name="artist" id="artist" required>
    </div>
    <button type="submit">Agregar</button>
  </form>
  <a href="/songs">Volver a la lista de canciones</a>
</body>
</html>
